.container {
  background-color: var(--primary-color);
  min-height: 85vh;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* position: relative; */
}
.title {
  border-bottom: 3px double black;
  width: 30vw;
}

.add {
  font-size: 3rem;
  border: 3px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detailList {
  display: flex;
  flex-direction: column;
  height: 72vh;
  overflow-y: scroll;
  align-items: center;
  width: 100%;
}
