.container {
  background-color: var(--primary-color);
  min-height: 85vh;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* position: relative; */
}
.title {
  border-bottom: 3px double black;
  width: 30vw;
}

.buttonSubmit {
  min-height: 4vh;
  min-width: 11vw;
  border-radius: 15px;
  cursor: pointer;
  background-color: var(--fifth-color);
  color: var(--primary-color);
  font-size: x-large;
  font-weight: bolder;
  margin-top: 50px;
  margin-bottom: 25px;
  padding: 10px;
  border: none;
}
.buttonSubmit:hover {
  background-color: var(--primary-color);
  color: var(--fifth-color);
  border: 3px solid var(--fifth-color);
}
