.container {
  background-color: var(--primary-color);
  min-height: 85vh;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* position: relative; */
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.title {
  border-bottom: 3px double black;
  width: auto;
  text-transform: uppercase;
}
.button {
  border-radius: 25px;
  border: solid 2px black;
  height: 2.5vh;
  min-width: 2.5vw;
  padding: 3px;
  margin: 3px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.applogo {
  animation: open 1s linear;
}

@keyframes open {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.add {
  font-size: 3rem;
  border: 3px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.detailList {
  display: flex;
  flex-direction: column;
  height: 72vh;
  overflow-y: scroll;
  align-items: center;
  width: 100%;
}
