.inputText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--secondary-color);
  border-radius: 15px;
  padding: 5px;
  margin: 10px;
  font-size: larger;
  width: 95%;
  cursor: pointer;
}
.containerButton {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.button {
  border-radius: 25px;
  border: solid 2px black;
  height: 2.5vh;
  width: 6vw;
  padding: 5px;
  margin: 3px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  border-radius: 25px;
  border: solid 2px black;
  height: fit-content;
  width: 80vw;
  padding: 5px;
  margin: 10px;
  font-size: larger;
}
.p {
  height: fit-content;
  width: 80vw;
  font-size: x-large;
  /* font-family: "Roboto", sans-serif; */
  font-weight: bold;
}

.done {
  color: var(--third-color);
  position: relative;
  text-decoration: line-through;
}
.done::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 15%;
  width: 80%;
  height: 2px;
  background: var(--third-color);
  animation: strike 1s ease-out forwards;
}
@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}
